<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Video</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet">
    <script type='text/javascript'
        src='//groundlesscobwebmiller.com/98/ef/66/98ef66ad81a8169367108092544a0c46.js'></script>
</head>

<body>
    <div class="page-wrapper playsp">
        <header class="header">
            <div class="header-wrapper">
                <div class="logo"><img src="/assets/images/logo.svg" alt="logo">
                    <h2>NutCracker</h2>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/upload">Upload</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="plays">
            <div class="wrapper">
                <div class="video-container">
                    <video id="my-video" class="video-js vjs-default-skin" width="580" height="300">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank" rel="noopener">supports
                                HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="text-content">
                    <h4>News:</h4>
                    <p>In the realm of international news, certain topics tend to dominate headlines and capture
                        widespread
                        attention. Geopolitical developments, such as diplomatic negotiations, conflicts, and
                        international
                        summits, often draw significant interest as they shape global relations and impact multiple
                        countries. Humanitarian crises, including natural disasters, refugee movements, and healthcare
                        emergencies, elicit empathetic responses and prompt calls for international aid and solidarity.
                        Economic news, such as market fluctuations, trade agreements, and economic policies,
                        reverberates
                        across borders, influencing global financial stability and individual livelihoods. Technological
                        advancements and innovations, particularly in areas like artificial intelligence, space
                        exploration,
                        and renewable energy, captivate audiences worldwide as they hold the potential to reshape
                        societies
                        and economies. Additionally, environmental issues, such as climate change, biodiversity loss,
                        and
                        natural resource management, garner widespread concern as they pose existential threats to the
                        planet and require coordinated action on a global scale. Amidst this array of topics, stories
                        that
                        resonate with universal human experiences, promote cross-cultural understanding, and inspire
                        positive change often rise to prominence, reflecting the interconnectedness of our increasingly
                        globalized world.</p>
                    <script
                        type="text/javascript"> 	atOptions = { 'key': '4e8c1f962a91533eab04b3af743a5989', 'format': 'iframe', 'height': 90, 'width': 728, 'params': {} }; </script>
                    <script type="text/javascript"
                        src="//groundlesscobwebmiller.com/4e8c1f962a91533eab04b3af743a5989/invoke.js"></script>
                    <p>Are you a passionate traveler always seeking ways to enhance your adventures? Look no further!
                        We've
                        curated a list of the top 10 gadgets every travel enthusiast needs in their arsenal. From
                        compact
                        portable chargers to versatile multi-tools, these gadgets are designed to make your journeys
                        smoother and more enjoyable. Whether you're exploring the wilderness or navigating bustling city
                        streets, these travel companions will have you covered. Check out our recommendations and
                        streamline
                        your travel experience today!
                    </p>
                    <script
                        type="text/javascript"> 	atOptions = { 'key': '4e8c1f962a91533eab04b3af743a5989', 'format': 'iframe', 'height': 90, 'width': 728, 'params': {} }; </script>
                    <script type="text/javascript"
                        src="//groundlesscobwebmiller.com/4e8c1f962a91533eab04b3af743a5989/invoke.js"></script>
                    <p>Healthy eating doesn't have to be complicated or time-consuming. With our ultimate guide to meal
                        prep, you can master the art of nutritious eating while saving time and money. Learn how to plan
                        your meals, stock your pantry with essentials, and prepare delicious recipes in advance. Whether
                        you're a busy professional, a parent on-the-go, or a fitness enthusiast, meal prep is the key to
                        maintaining a healthy lifestyle without the hassle. Get started today and revolutionize your
                        approach to food!
                    </p>
                    <script
                        type="text/javascript"> 	atOptions = { 'key': '4e8c1f962a91533eab04b3af743a5989', 'format': 'iframe', 'height': 90, 'width': 728, 'params': {} }; </script>
                    <script type="text/javascript"
                        src="//groundlesscobwebmiller.com/4e8c1f962a91533eab04b3af743a5989/invoke.js"></script>
                    <p>Calling all adrenaline junkies! If you're craving an adventure that will get your heart racing
                        and
                        your adrenaline pumping, look no further than these top 5 destinations. From skydiving over
                        breathtaking landscapes to diving with sharks in exotic waters, these adrenaline-fueled
                        experiences
                        are not for the faint of heart. Whether you're an experienced thrill-seeker or a newbie looking
                        for
                        your next challenge, these destinations offer something for everyone. Pack your bags, buckle up,
                        and
                        get ready for the adventure of a lifetime!</p>
                </div>
                <div class="btncontainer">
                    <button onclick="redirectToOriginalVideo()">Play Video</button>
                </div>
            </div>
        </main>
        <footer class="footer playsp">
            <div class="footer-wrapper">
                <div class="footer-txt">
                    <p>© 2024 NutCracker | All rights reserved.</p>
                </div>
                <div class="footer-links">
                    <a href="/terms">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </div>


    <script src="https://vjs.zencdn.net/7.14.3/video.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Video.js player
            var player = videojs('my-video');
            // Set the video source dynamically using EJS
            var source = {
                src: '/uploads/<%= filename %>',
                type: 'video/mp4'
            };
            player.src(source);
        });

        function redirectToOriginalVideo() {
            window.location.href = '/play/<%= uniqueLink %>';
        }
    </script>
    <script type='text/javascript'
        src='//groundlesscobwebmiller.com/34/79/3e/34793efebb9ae76ea8c5550a1b99c9d2.js'></script>
</body>

</html>