<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Video</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet">
</head>

<body>
    <div class="page-wrapper playsp">
        <header class="header">
            <div class="header-wrapper">
                <div class="logo"><img src="/assets/images/logo.svg" alt="logo">
                    <h2>NutCracker</h2>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/upload">Upload</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="plays">
            <div class="wrapper">
                <div class="video-container">
                    <video id="my-video" class="video-js vjs-default-skin" width="580" height="300">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank" rel="noopener">supports
                                HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="btncontainer">
                    <button onclick="redirectToOriginalVideo()">Play Video</button>
                </div>
            </div>
        </main>
        <footer class="footer playsp">
            <div class="footer-wrapper">
                <div class="footer-txt">
                    <p>© 2024 NutCracker | All rights reserved.</p>
                </div>
                <div class="footer-links">
                    <a href="/terms">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </div>


    <script src="https://vjs.zencdn.net/7.14.3/video.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Video.js player
            var player = videojs('my-video');
            // Set the video source dynamically using EJS
            var source = {
                src: '/uploads/<%= filename %>',
                type: 'video/mp4'
            };
            player.src(source);
        });

        function redirectToOriginalVideo(){
            window.location.href = '/play/<%= uniqueLink %>';
        }
    </script>

</body>

</html>