<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions - NutCracker</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HPMMP1WL88"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HPMMP1WL88');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2649847286148907"
    crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-wrapper">
                <div class="logo"><img src="/assets/images/logo.svg" alt="logo">
                    <h2>NutCracker</h2>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/upload">Upload</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <style>
            .main-ul {
                list-style: none;
            }
            .main-ul>li{
                margin-bottom: 2rem !important;
            }

            .main-ul h4{
                margin-bottom: .75rem;
            }

            .ul-inside {
                list-style-position: inside;
                list-style-type: disc;
            }
        </style>

        <main class="terms">
            <div class="maincontainer2">
                <h1 class="mainheading">Terms and Conditions</h1>
                <div class="container">
                    <p>Welcome to NutCracker! These Terms and Conditions (“Terms”) govern your access to and use of our
                        website, services, and features. By accessing or using NutCracker, you agree to abide by these
                        Terms and our Privacy Policy. If you do not agree, please discontinue using our platform.
                    </p>
                    <ul class="main-ul">

                        <li>
                            <h4>1. Acceptance of Terms:</h4>
                            By using NutCracker, you affirm that you are at least 18 years old or have obtained parental
                            consent if under 18. You also confirm that you have the legal capacity to agree to and abide
                            by these Terms.
                        </li>
                        <li>
                            <h4>2. Content Ownership and Licensing</h4>
                            <ul class="ul-inside">
                                <li><b>Ownership</b>: You retain full ownership of the videos you upload to NutCracker.
                                </li>
                                <li><b>License to NutCracker: </b> By uploading content, you grant NutCracker a
                                    non-exclusive, royalty-free, worldwide license to host, display, distribute,
                                    promote, and monetize your videos. This license is necessary for us to provide
                                    platform services.
                                </li>
                                <li><b>Third-Party Rights:</b> You must ensure that any content you upload does not
                                    infringe on third-party rights, including copyright, trademarks, or intellectual
                                    property.

                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>3. Prohibited Content</h4>
                            You agree not to upload or share content that:
                            <ul class="ul-inside">
                                <li>Violates intellectual property laws or third-party rights. </li>
                                <li>Is illegal, defamatory, obscene, or promotes violence or hate speech.</li>
                                <li> Contains nudity, pornography, or sexually explicit material. </li>
                                <li>Encourages fraudulent or misleading activities. </li>
                                <li> Includes malicious software, viruses, or harmful code. </li>
                            </ul>
                            NutCracker reserves the right to remove any content that violates these rules and may
                            suspend or terminate your account in cases of severe or repeated breaches.
                        </li>
                        <li>
                            <h4>4. Revenue Sharing and Monetization</h4>
                            <ul class="ul-inside">
                                <li><b>Earnings:</b> NutCracker allows users to earn revenue through views and
                                    engagement metrics. Payments are calculated based on platform-specific criteria.
                                </li>
                                <li><b>Payout Threshold:</b> Payments are only processed when the minimum payout
                                    threshold is met.
                                </li>
                                <li><b>Payment Methods:</b> Users must provide accurate payment information to ensure
                                    successful transactions.
                                </li>
                                <li><b>Policy Changes:</b> NutCracker reserves the right to modify revenue-sharing
                                    policies without prior notice. Changes will be reflected in updated Terms.</li>
                            </ul>
                        </li>
                        <li>
                            <h4>5. Account Responsibility</h4>
                            <ul class="ul-inside">
                                <li><b>Account Security:</b> You are responsible for maintaining the confidentiality of
                                    your login credentials.
                                </li>
                                <li><b>Unauthorized Use:</b> Notify NutCracker immediately if you suspect unauthorized
                                    access to your account.
                                </li>
                                <li><b>Liability:</b> NutCracker is not liable for any losses or damages resulting from
                                    unauthorized use of your account. </li>
                            </ul>
                        </li>
                        <li>
                            <h4>6. Platform Use</h4>
                            You agree to use NutCracker only for lawful purposes and in compliance with all applicable
                            laws. Prohibited activities include:
                            <ul class="ul-inside">
                                <li>Attempting to gain unauthorized access to the platform, its users, or its servers.
                                </li>
                                <li>Introducing viruses, malware, or harmful code to disrupt operations.</li>
                                <li>Engaging in fraudulent activities, including artificially inflating views or
                                    earnings.</li>
                                <li> Spamming or engaging in any activity that harms the user experience.</li>
                            </ul>
                        </li>
                        <li>
                            <h4>7. Compliance with Laws</h4>
                            You agree to adhere to all applicable local, national, and international laws while using
                            NutCracker. You are solely responsible for your conduct and content on the platform.
                        </li>
                        <li>
                            <h4>8. Intellectual Property</h4>
                            <ul class="ul-inside">
                                <li><b>Platform Right:</b> All content, trademarks, logos, and designs on NutCracker,
                                    excluding user-generated content, are the intellectual property of NutCracker and
                                    its licensors.
                                </li>
                                <li><b>User Rights:</b> You may not copy, distribute, or modify NutCracker’s
                                    intellectual property without explicit written permission.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>9. Termination of Service</h4>
                            <ul class="ul-inside">
                                <li>NutCracker may suspend or terminate your account if you violate these Terms or
                                    misuse the platform.
                                </li>
                                <li>Upon termination, you will lose access to your account, including uploaded content
                                    and accumulated earnings.</li>
                            </ul>
                        </li>
                        <li>
                            <h4>10. Limitation of Liability</h4>
                            NutCracker is not responsible for:

                            <ul class="ul-inside">
                                <li>User-generated content and its consequences.
                                </li>
                                <li>Loss of revenue or damages due to interruptions in service.
                                </li>
                                <li>Content accuracy, completeness, or legality.
                                </li>
                            </ul>
                            The platform is provided “as is,” without warranties of any kind, express or implied.
                        </li>
                        <li>
                            <h4>11. Indemnification</h4>
                            You agree to indemnify and hold NutCracker, its affiliates, and employees harmless from any
                            claims, damages, or expenses arising from your use of the platform, violation of these
                            Terms, or infringement of third-party rights.
                        </li>
                        <li>
                            <h4>12. Privacy Policy</h4>
                            Your use of NutCracker is subject to our Privacy Policy, which explains how we collect, use,
                            and protect your personal information. By using the platform, you agree to the terms
                            outlined in our Privacy Policy.

                        </li>
                        <li>
                            <h4>13. Updates to Terms</h4>
                            NutCracker reserves the right to update or modify these Terms at any time. Users will be
                            notified of significant changes via email or platform notifications. Continued use of the
                            platform after updates constitutes acceptance of the revised Terms.
                        </li>
                        <li>
                            <h4>14. Dispute Resolution</h4>
                            <ul class="ul-inside">
                                <li><b>Governing Law:</b> These Terms are governed by the laws of Indian Jurisdiction.
                                </li>
                                <li><b>Arbitration:</b> Any disputes arising from these Terms will be resolved through
                                    binding arbitration, except where prohibited by law. </li>
                            </ul>
                        </li>
                        <li>
                            <h4>15. How It Works</h4>
                            <ul class="ul-inside">
                                <li><b>Uploading Content:</b> Users can upload videos via the NutCracker website or
                                    Telegram bot.
                                </li>
                                <li><b>Temporary Links:</b> Uploaded videos are assigned temporary links for easy
                                    sharing.</li>
                                <li><b>Telegram Integration:</b> Users can convert video links into Telegram
                                    bot-compatible links or upload directly via the bot. </li>
                            </ul>
                        </li>
                        <li>
                            <h4>16. Platform Maintenance</h4>
                            NutCracker reserves the right to perform scheduled maintenance or implement updates that may
                            temporarily disrupt platform services.
                        </li>
                        <li>
                            <h4>17. User Support</h4>
                            For questions, issues, or support, users can contact NutCracker’s support team via the
                            Contact Us page or email provided on the platform.
                        </li>
                        <li>
                            <h4>18. Conclusion</h4>
                            By using NutCracker, you agree to these Terms and Conditions. We appreciate your trust and
                            look forward to empowering your creativity. Thank you for being a valued part of the
                            NutCracker community!
                        </li>
                    </ul>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-txt">
                    <p>© 2024 NutCracker | All rights reserved.</p>
                </div>
                <div class="footer-links">
                    <a href="/terms">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>